:root {
    --firstPlayerMainColor: #FF3266;
    --secondPlayerMainColor: #30CB76;
    --gameDrawReferenceColor: #EDAF10;
    --hoverBtnColor: #34515E;
    --textMainColor: #34515E;
    --subTextColor: #607D8B;
    --inactiveElementColor: #AABDC6;
    --backgroundMainColor: #E5E5E5;
    --highlightTextColor: #FFFFFF; 
    --backgorundMainColor: #FFFFFF;
}

body {
    background-color: var(--backgroundMainColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--textMainColor);
}

button {
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 900;
    margin: 0vw .5vw;
    color: inherit;
    background-color: transparent;
    border: 2px solid var(--hoverBtnColor);
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}


button:hover {
    background-color: var(--hoverBtnColor);
    color: var(--highlightTextColor);
}

main {
    padding: 1em;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

main span {
    padding: 2em;
    cursor: pointer;
    text-align: center;
    border: 3px solid #AABDC6;
}

main span:nth-of-type(3n + 1) {
    border-left: none;
}

main span:nth-of-type(3n + 0) {
    border-right: none;
}

main span:nth-of-type(-n + 3) {
    border-top: none; 
}

main span:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

h1 {
    text-transform: uppercase;
}

h1, h2 {
    font-family: 'Roboto';
}

.modal {
    display: none;
    position: absolute;
    background: #FFFFFF;
}

#gameStateDisplay {
    background-color: var(--firstPlayerMainColor);
}

#openPlayerNameInputsBtn {
    position: fixed;
    bottom: 0;
    margin-bottom: 1vw;
    border: none;
    text-decoration: underline;
}

#openPlayerNameInputsBtn:hover {
    background-color: transparent;
    color: inherit;
}

#statisticsModal, #statisticsModal article {
    text-align: center;
}

#statisticsModal article{
    display: flex;
    justify-content: space-between;
}

#statisticsModal article:last-of-type {
    justify-content: center;
    flex-direction: column;
}