:root {
    --firstPlayerMainColor: #FF3266;
    --secondPlayerMainColor: #30CB76;
    --gameDrawReferenceColor: #EDAF10;
    --hoverBtnColor: #34515E;
    --textMainColor: #34515E;
    --subTextColor: #607D8B;
    --inactiveElementColor: #AABDC6;
    --backgroundMainColor: #E5E5E5;
    --highlightTextColor: #FFFFFF; 
    --backgorundMainColor: #FFFFFF;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--backgroundMainColor);
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--textMainColor);
}

button {
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 900;
    margin: 0vw .5vw;
    color: inherit;
    background-color: transparent;
    border: 2px solid var(--hoverBtnColor);
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

input {
    font-family: inherit;
    border: none;
    border-bottom: 2px solid var(--textMainColor);
    padding: .5em .25em;
}

label {
    display: block;
    margin: 2vw 0vw;
}

main {
    font-family: 'Fredoka One', cursive;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
    background-color: #FFFFFF;
    z-index: 5;
}

main span {
    padding: 2em;
    cursor: pointer;
    text-align: center;
    border: 3px solid #AABDC6;
  min-width: calc(20px + 0.1vw);
  min-height: calc(20px + 0.1vh);
}

main span:nth-of-type(3n + 1) {
    border-left: none;
}

main span:nth-of-type(3n + 0) {
    border-right: none;
}

main span:nth-of-type(-n + 3) {
    border-top: none; 
}

main span:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

h1 {
    text-transform: uppercase;
}

h1, h2 {
    font-family: 'Roboto';
}

.closeBtn {
    font-family: 'Fredoka One', cursive;
    margin: 1vw;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

.hoverableBtn:hover {
    background-color: var(--hoverBtnColor);
    color: var(--highlightTextColor);
}

.modal {
    display: none;
    position: absolute;
    background: #FFFFFF;
}

#gameStateDisplay {
    text-align: center;
    position: relative;
    top: -2em;
    padding:  2em 1em 1em 1em;
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--firstPlayerMainColor);
    color: var(--highlightTextColor);
    z-index: -1;
}

#openPlayerNameInputsBtn {
    position: fixed;
    bottom: 0;
    margin-bottom: 1vw;
    border: none;
    text-decoration: underline;
}

#openPlayerNameInputsBtn:hover {
    background-color: transparent;
    color: inherit;
}

#overlayContainer {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    z-index: 9999;
}

#savePlayerNamesBtn {
    float: right;
}

#statisticsModal p{
    margin: 0;
}

#statisticsModal, #statisticsModal article {
    text-align: center;
}

#statisticsModal article{
    display: flex;
    justify-content: space-between;
}

#statisticsModal article:last-of-type {
    justify-content: center;
    flex-direction: column;
}