body {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main {
    padding: 1em;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

main span {
    padding: 2em;
    cursor: pointer;
    text-align: center;
    border: 3px solid #AABDC6;
}

main span:nth-of-type(3n + 1) {
    border-left: none;
}

main span:nth-of-type(3n + 0) {
    border-right: none;
}

main span:nth-of-type(-n + 3) {
    border-top: none; 
}

main span:nth-last-of-type(-n + 3) {
    border-bottom: none;
}
